.hero {
	background-image: url(../assets/img/close-up-of-stamps-collection-and-magnifying-glass.jpg);
	background-size: cover;
	background-position: left 0 top 12%;
}

.hero .ornement {
	width: 100%;
}

.hero .ornement-bottom {
	transform: rotate(180deg);
}