@import url("components/click-menu.css");

[aria-label="Primary navigation"] .search-box button {
	background-color: var(--blue-primary);
}

[aria-label="Primary navigation"] .search-box button:hover {
	background-color: var(--purple-primary-dark);
}



/* Fil d'Ariane */
.breadcrumb {
	display: flex;
	gap: var(--gutterCenti);

	align-items: center;
}

.breadcrumb > * {
	max-width: 30ch;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

.breadcrumb a {
	text-decoration: underline;
	text-underline-offset: 4px;
}

.breadcrumb [aria-current="page"] {
	color: var(--grey);
}

.breadcrumb .separator {
	transform: rotate(-90deg);
}